body {
    background: beige;
}

.buttonGroup{
    text-align: center;
    padding: 5vw;

}

.buttonGroup > button{
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
}

#counter {
    color: darkgrey;
    text-align: center;
    font: 4em Consolas, Courier, monospace;
}